@model CreateRoleModel


<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name">Role Name:</label>
            <input type="text" class="form-control" asp-for="Name" value="" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">SignIn</button>
        </div>
    </form>
</div>



